#canvas-container {
    position: relative; /* Or 'absolute' based on your requirement */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 100;
    cursor: grab;
}

#thesis-content {
    position: relative;
    max-width: 800px; /* Sets a maximum width for the content to ensure readability */
    margin: 0 auto; /* Centers the content block horizontally */
    padding: 20px; /* Adds some padding around the content for spacing */
    font-family: 'articulat-cf', sans-serif; /* Ensures font consistency with the canvas */
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 20px;
    margin: 20px 0;
    /* Apply more styling here */
}

.articulat-cf-normal {
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .articulat-cf-normal-oblique {
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .articulat-cf-demi-bold {
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .articulat-cf-demi-bold-oblique {
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .articulat-cf-heavy {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .articulat-cf-heavy-oblique {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .articulat-cf-thin {
    font-family: "articulat-cf", sans-serif;
    font-weight: 100;
    font-style: normal;
  }