/* big things */
#canvas-container {
    position: relative; /* Or 'absolute' based on your requirement */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 100;
    cursor: grab;
}

#thesis-content::before {
  content: '';
  display: block;
  height: 200px; /* Height of the gradient */
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: -10;
  left: 50%; /* Position it in the middle */
  transform: translateX(-50%); /* Shift it back to align properly */
  max-width: 100vw; /* Sets a maximum width for the gradient */
  background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: -10;
}

#thesis-content {
    position: relative;
    max-width: 60vw;
    margin: 0 auto; /* Centers the content block horizontally */
    padding: 20px; /* Adds some padding around the content for spacing */
    font-family: 'articulat-cf', sans-serif; /* Ensures font consistency with the canvas */
    z-index: 10;
}

/* assets and containers */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px; /* Same as your text container */
  margin: 0 auto; /* This centers the video container */
}

video {
  width: 100%; /* Makes the video responsive */
  height: auto; /* Maintains aspect ratio */
  border-radius: 5px;
}

.thumbnail_img {
  display: block;
  width: 25vw; /* Set the width to 25% of the viewport width */
  height: auto; /* Scales the height automatically to maintain aspect ratio */
  margin: 0 auto; 
}

.thumbnail_img img {
  width: 100%; 
  height: auto; 
  border-radius: 5px; 
}

.description_img {
  display: block;
  width: 35vw; 
  height: auto; 
  margin: 0 auto; 
}

.description_img img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Scales the height to maintain aspect ratio */
  border-radius: 5px; /* Rounds the corners slightly */
}

.row_img {
  display: block;
  width: 50vw;
  height: auto;
}

.row_img img{
  width: 100%;
  height: auto;
  border-radius: 5px; /* Rounds the corners slightly */
}

.diagram_img {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center; /* Center horizontally */
}

.diagram_img img {
  width: 100%;
  height: auto;
}

/* tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  color: black;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #fff;
  color: black;
}

caption {
  caption-side: top;
  font-size: 1.2em;
  font-style: italic;
  margin: 5px 0;
  color: black;
}

/* idk */
html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px 0;
    /* Apply more styling here */
}

/* p styles */
body p {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14pt;
}

.bibliography-entry {
  font-family: "articulat-cf", sans-serif;
  font-weight: 400; 
  font-style: normal;
  font-size: 12pt;
  text-indent: -2em; /* Creates a hanging indent */
  padding-left: 2em; /* Compensates for the negative text indent */
  margin-bottom: 1em; /* Adds space between each entry */
}

/* headings */
h2 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25pt;
}

h3 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20pt;
}

h4 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18pt;
}

blockquote {
  font-family: "articulat-cf", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: 40px; /* Adjust the value as needed for the left margin */
  padding-left: 20px; /* Adjust the value as needed for the left padding */
  font-size: 13pt;
}

/* fonts */
.articulat-cf-normal {
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.articulat-cf-normal-oblique {
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.articulat-cf-demi-bold {
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.articulat-cf-demi-bold-oblique {
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
.articulat-cf-heavy {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.articulat-cf-heavy-oblique {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
.articulat-cf-thin {
    font-family: "articulat-cf", sans-serif;
    font-weight: 100;
    font-style: normal;
  }