/* big things */
#ocean-container {
    position: relative; /* Or 'absolute' based on your requirement */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 100;
    cursor: grab;
}

#thesis-content::before {
  content: '';
  display: block;
  height: 200px; /* Height of the gradient */
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: -10;
  left: 50%; /* Position it in the middle */
  transform: translateX(-50%); /* Shift it back to align properly */
  max-width: 100vw; /* Sets a maximum width for the gradient */
  background: linear-gradient(to bottom, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: -10;
}

#thesis-content {
    position: relative;
    max-width: 800px;
    margin: 0 auto; /* Centers the content block horizontally */
    padding: 20px; /* Adds some padding around the content for spacing */
    font-family: 'articulat-cf', sans-serif; /* Ensures font consistency with the canvas */
    z-index: 10;
}

/* assets and containers */
.video-extended-container {
  overflow: hidden; /* Prevents horizontal scrollbar due to negative margins */
  position: relative; /* Establishes a stacking context */
}

.video-extended-container video {
  width: 33%;
  height: auto; /* Maintains aspect ratio */
  border-radius: 5px; /* Optional style */
  justify-content: center;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 60%;
  margin: 0 auto; 
  border: black 1px solid;
  border-radius: 10px;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 5px;
  justify-content: center;
}

.thumbnail_img {
  display: block;
  width: 25vw; /* Set the width to 25% of the viewport width */
  height: auto; /* Scales the height automatically to maintain aspect ratio */
  margin: 0 auto; 
}

.thumbnail_img img {
  width: 100%; 
  height: auto; 
  border-radius: 5px; 
}

.description_img {
  display: block;
  width: 35vw; 
  height: auto; 
  margin: 0 auto; 
}

.description_img img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Scales the height to maintain aspect ratio */
  border-radius: 5px; /* Rounds the corners slightly */
}

.row_img {
  display: block;
  width: 50vw;
  height: auto;
  margin: 0 auto; 
}

.row_img img{
  width: 100%;
  height: auto;
  border-radius: 5px; /* Rounds the corners slightly */
}

.diagram_img {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center; /* Center horizontally */
}

.diagram_img img {
  width: 100%;
  height: auto;
}

.screenshot {
  width: 80%;
  display: block;
  margin: 0 auto; 
}

.screenshot img {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Rounds the corners slightly */
}

/* filters diagram stuff */
.venncanvas {
  display: flex;
}
.filtersdiagram {
  margin-left: -40px;
}
.filtersdiagram svg {
    width: 450px;
    height: auto;
}
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.info-text-wrapper {
    display: none; /* Hide by default */
    flex-direction: column;
    margin-left: 20px; /* Add some space between the SVG and the text */
    max-width: 50%;
}
.info-text {
    display: none; /* Keep this to hide all texts initially */
    margin: 5px 0; /* Add some vertical space between texts */
    font-family: "articulat-cf", sans-serif;
    
}
.info-text h1 {
    font-size: 25px;
    margin-bottom: 2px; /* Space between the h1 and the next element */
    font-weight: 800;
    font-style: normal;
}
.info-text h2 {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 700;
}
.info-text em { /* em is used for italic text */
    font-style: italic;
    display: block; /* Each italicized sentence on a new line */
    margin: 5px 0; /* Space around italic text for better readability */
    font-weight: 600;
}
/* Specific colors for each info-text id */
#info-tropes {
    color: #fb6107; /* Reddish */
}

#info-associations {
    color: #2196f3; /* Blueish */
}

#info-audience {
    color: #7161ef; /* Purple */
}

#info-situation {
    color: #FFC857; /* Yellow */
}

#info-acceptability {
    color: #55a630; /* Green */
}
/* funnel diagram stuff */
.funnel-diagram {
  display: flex; /* Set to flex to use flexbox properties */
  flex-direction: column; /* Stack flex items vertically */
  align-items: center; /* Center items on the cross axis */
  justify-content: center; /* Center items on the main axis if there's extra space */
  width: 100%; /* Adjust as needed */
  margin: auto; /* Center the container itself if within another flex or block container */
  position: relative; /* Set position to relative if you need to absolutely position child elements */
}

#process-steps {
  display: flex; /* Add this to center the image */
  justify-content: center; /* Horizontally center the image within the div */
  width: 100%;
}

#process-steps img {
  width: 90%; /* Make it responsive */
  max-width: 700px; /* Set a max-width if necessary */
}

#funnel-container {
  width: 100%;
  height: 300px; /* Adjust height as necessary */
  display: flex; /* Flexbox to center its contents */
  justify-content: center; /* Center the canvas within the div */
}

/* tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  color: black;
  margin-bottom: 40px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #fff;
  color: black;
}

caption {
  caption-side: top;
  font-size: 1.2em;
  font-style: italic;
  margin: 5px 0;
  color: black;
}

.content-classification-table td:nth-child(2), 
.content-classification-table td:nth-child(3) {
  text-align: left;
  font-size: 0.9em;
}

/* idk */
html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    margin: 0;
}

section {
    margin: 20px 0;
}

/* p styles */
body p {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14pt;
}

.indented-text {
  padding-left: 40px; /* Adjust the value as needed */
}

.bibliography-entry p {
  font-family: "articulat-cf", sans-serif;
  font-weight: 400; 
  font-style: normal;
  font-size: 12pt;
  text-indent: -2em; /* Creates a hanging indent */
  padding-left: 2em; /* Compensates for the negative text indent */
  margin-bottom: 1em; /* Adds space between each entry */
}

blockquote {
  font-family: "articulat-cf", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: 40px; /* Adjust the value as needed for the left margin */
  padding-left: 20px; /* Adjust the value as needed for the left padding */
  font-size: 13pt;
}

.image_caption {
  font-weight: 300;
  font-size: 1.2em;
  font-style: italic;
  color: black;
  text-align: center;
  margin: 15px;
}

/* headings */
h2 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25pt;
}

h3 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20pt;
  margin-top: 5px;
  margin-bottom: 0;
}

h4 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 18pt;
  margin-bottom: 0;
}

h5 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16pt;
  margin-bottom: 0;
}

/* fonts */
.articulat-cf-normal {
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.articulat-cf-normal-oblique {
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.articulat-cf-demi-bold {
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.articulat-cf-demi-bold-oblique {
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
.articulat-cf-heavy {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.articulat-cf-heavy-oblique {
    font-family: "articulat-heavy-cf", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
.articulat-cf-thin {
    font-family: "articulat-cf", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
